@using SpaDay.Models; 

@model User


<h1>Welcome to the spa @Model.Username !</h1>

<a asp-controller="Spa" asp-action="Index">Add Services!</a>


@*<div>
    <h3>@ViewBag.username account details:</h3>
    <p>Email: @ViewBag.Email</p>
    <p>Date Joined: @ViewBag.DateTime</p>
</div>*@